src/main/mule/rom-prueba-mulesoft-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="rom-prueba-mulesoft-sys-api-config" api="rom-prueba-mulesoft-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
    <flow name="rom-prueba-mulesoft-sys-api-main">
        <http:listener path="${api.path}" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rom-prueba-mulesoft-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Set Status" doc:id="de8bbc0f-1300-4dfa-bd80-d780be84b777" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="c0df0089-e5a2-4d39-9531-68ba86d900dd">
                    <ee:message>
						<ee:set-payload resource="dwl/errorMessage.dwl" />
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Set Status" doc:id="058bebee-3a01-476e-86d3-217b28237218" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="b27f157e-649e-48b6-b2ca-e90a3a89da00">
                    <ee:message>
						<ee:set-payload resource="dwl/errorMessage.dwl" />
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Set Status" doc:id="6d4b9577-1bf6-431a-a3e8-2784dc0b3289" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="e439a5f4-3e4b-47e3-b52b-b6d66df7e754">
                    <ee:message>
						<ee:set-payload resource="dwl/errorMessage.dwl" />
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Set Status" doc:id="72d68275-8695-4268-88ed-dc0e45547f3e" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="ae27b5db-1d72-40b6-8dc4-3be184f5df68">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{"code": vars.httpStatus, 
"message": error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Set Status" doc:id="e5b9cba6-506d-425e-9354-6de8d3fa1907" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="8c55de40-3ea3-4c15-861f-9fcab458f994">
                    <ee:message>
						<ee:set-payload resource="dwl/errorMessage.dwl" />
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Set Status" doc:id="468e0cba-7df8-4586-894a-96aa95e18fd7" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Message" doc:id="def295e9-ec64-433b-bed2-4bf926431701">
                    <ee:message>
						<ee:set-payload resource="dwl/errorMessage.dwl" />
                    </ee:message>
                    <ee:variables>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\albums:rom-prueba-mulesoft-sys-api-config">
		<flow-ref doc:name="getAlbumsFlow" doc:id="049ad7aa-ce7b-41a4-b26c-536f31dc09f3" name="getAlbumsFlow"/>
    </flow>
    <flow name="get:\users:rom-prueba-mulesoft-sys-api-config">
		<flow-ref doc:name="getUsersFlow" doc:id="1efa4448-7491-499b-85ec-59ce3e05328b" name="getUsersFlow"/>
    </flow>
    <flow name="get:\users\(id):rom-prueba-mulesoft-sys-api-config">
        <ee:transform doc:name="Set ID">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="getUserByIdFlow" doc:id="57dbd196-4f7b-4399-aac3-ee2e32835aa2" name="getUserByIdFlow"/>
    </flow>
    <flow name="post:\users:application\json:rom-prueba-mulesoft-sys-api-config">
		<flow-ref doc:name="createNewUserFlow" doc:id="99b38c1b-0adb-4e46-bc87-22eabf282bfa" name="createNewUserFlow"/>
    </flow>
</mule>
